@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: black;
  margin: 0;
}



*,
*::before,
*::after{
  box-sizing: inherit;
  padding-inline-start: 0;
}

.wrapper{
  height: 100vh;
  width: 100%;

  
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  
}

.header{
  background-color: white;
  padding: 1rem;
  gap: 2rem;
  filter: drop-shadow(2px 2px 1px rgb(103, 101, 101));

  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

  .header-top{
    gap: 1rem;
    display: grid;
    grid-template-columns: .5fr 5fr .5fr 2fr;
    align-items: center;
  }  


    .header-search{
      background-color: #e2e9f1;
      min-width: 10rem;
      max-width: 80%;
      border-radius: 15px;
      padding: 1rem;
      grid-column: 2;
    }


    .header-user-menu{
      background: none;
      border: none;
      grid-column: 4;
      
      display: grid;
      align-items: center;
      grid-template-columns: [left-col]1fr [right-col]3fr;
      gap: 1rem;
    }
      .username-text{
        font-size: 1.5rem;
        font-weight: 600;
        justify-self: left;
      }


  .header-bottom{
    /* border: 1px solid black; */

    padding-left: 3rem;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(3,1fr);
    grid-template-rows: [top-row]1fr [bot-row]2fr;
    align-items: center;

  }

    #header-profile-pic{
      
      grid-column: 1;
      grid-row: 1/-1;
    }


    #hi-text{
      font-size: 1.5rem;
      font-weight: 500;

      grid-column: 2;
      grid-row: top-row;
      align-self: flex-end;
    }
    #hi-username-text{
      font-size: 2rem;
      font-weight: 500;

      grid-column: 2;
      grid-row: bot-row;
    }

    .action-button{
      border: none;
      border-radius: 2rem;
      background-color: #1992d4;
      color: white;
      font-weight: 600;
      margin: 1rem;
      width: 10rem;
      height: 4rem;
      grid-row: 1/-1;
    }


.sidebar{
  background-color: #1992d4;

  grid-area: 1/ 1/ -1;
  padding: 1rem 10rem 1rem 1rem;
  
  display: grid;
  grid-template-rows: [sidebar-branding] 1fr [sidebar-nav] 20fr;
}

  .branding{
    grid-row: sidebar-branding;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    /* padding: 1rem; */
    gap: 1rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  .nav{
    /* border: 1px solid pink; */

    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
  }
  .sub-nav{
    /* border: 1px solid green; */

    gap: 3rem;

    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

  }


    .nav-item{
      /* border: 1px solid palegreen;  */
      
      list-style-type: none;
      gap: 2rem;

      display: flex;
      align-items: center;

    }

    .nav-png{
      /* border: 1px solid palegreen; */

      filter: brightness(0) invert(1);
      background-color: transparent;
      background-size:contain;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      vertical-align: middle;

      flex: 0 1 auto;
    
    }
    .nav-text{
      /* border: 1px solid palegreen; */
      
      color: white;
      font-size: 2rem;
      font-weight: 400;
      flex: 0 1 auto;
    }

.main-content{
  padding: 3rem 4rem 6rem 2rem;
  background-color: #e2e9f1;
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  
}

  .main-title{
    /* height: 1fr; */
    padding-bottom: 5px;
    font-size: 2rem;
    color: #636363;
    font-weight: 500;
  }

  .card{
    /* height: 1fr; */
    background-color: white;
    font-weight: 500;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    padding: 2rem;
    gap: .5rem;
    
  }
      .card-content{
        color: #636363;
        font-weight: 300;

      }

  .main-projects{
    grid-column: 1;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
  }
      .project-content-container{
        /* flex: 1 1 0; */
        flex: 1 1 auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        /* grid-template-rows: repeat(auto-fill, minmax(1fr,300px)); */
        /* grid-template-rows: repeat(auto-fill,1fr); */
        gap: 2rem;
      }
      
          .project-card{
            border-left: 1rem solid #e3b030
            ;
            padding: 3rem;
            display: grid;
            grid-template-columns: 3fr repeat(3,1fr);
            grid-template-rows: repeat(3, auto);
            gap: 1rem;
          }
            .project-card > div {
              /* min-height: 50px; */
              grid-column: 1 / -1;
              padding-right: 3rem;
            }
            .project-card > .card-title{
              font-size: 1.75rem;
            }
            .project-card > .card-content{
              font-size: 1.5rem;
            }

            .project-card > button{
              justify-self: end;
              align-self: flex-end;
            }
            
          
      .main-announcements{
        /* height: 1fr; */
        grid-column: 2;
        /* grid-row: 1; */
        display: flex;
        flex-direction: column;
        /* grid-template-rows: repeat(auto-fit, 1fr); */
        
      }
        .main-announcements > .card{
          flex-grow: 1;
          font-size: 1.25rem;

          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        .main-announcements > .card > .announcement-project{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-weight: 500;
          
        }

            hr{
              width: 100%;
            }
        

      .main-trending{
        min-height: 1fr;
        grid-column: 2;
        /* grid-row: -1; */
      }
          .main-trending > .card{
            min-width: 1fr;
            height: 1fr;

            display: flex;
            flex-direction: column;
            /* justify-content: space-around; */
            gap: 1rem;
          }

          .mini-user-profile{
            /* border: 1px solid fuchsia; */
            
            flex-grow: 1;

            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: repeat(2, 1fr);
  
            align-items: center;
            gap: 0.5rem;
          }

          .mini-user-profile > .profile-pic{
            grid-row: span 2;

          }
          .mini-user-profile > .handle{
            align-self: end;
            font-size: 1.25rem;
          }
          .mini-user-profile > .top-project{
            align-self: start;
            color: #636363;
            font-weight: 400;
          }

.small-button{
  /* height: 25px;
  width: 25px; */

  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

  .star{
    background-image: url("../lib/star-plus-outline.svg");
    grid-column: 2;
  }
  .watch{
    background-image: url("../lib/eye-plus-outline.svg");
    grid-column: 3;
  }
  .share{
    background-image: url("../lib/source-fork.svg");
    grid-column: 4;
  }
  .search{
    background-image: url("../lib/magnify.svg");
    grid-column: 1;
    justify-self: end;
  }
  .bell{
    background-image: url("../lib/bell-ring-outline.svg");
    grid-column: 3;
    justify-self: end;
    padding-right: 3rem;
  }

  .profile-pic{
    /* max-width: 100%;
    max-height: 100%; */
    /* max-width: 100%; */
    height: 100%;
    /* width: auto; */
    width: 100%;
    place-self: center;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    
  }




    .morgan{
      background-image: url("../lib/bear-prof.png");

    }
    .teagen{
      background-image: url("../lib/cat-prof.png");

    }
    .kendall{
      background-image: url("../lib/rabbit-prof.png");

    }
    .alex{
      background-image: url("../lib/dog-prof.png");

    }
